.main {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
}

.add-row-button {
  width: 230px;
}

.divider {
  height: 100%;
}
